body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #d6e4f7;
  overflow: hidden;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 20%;
  text-align: center;
  width: 80%;
}
.form__field {
  font-family: inherit;
  width: 150%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #1669c2;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field__pl::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #16c2b4;
  height: 50px;
}
.form__field__pl:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
.btn-group button {
  background-color: #3f7dc0;
  border: 2px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 24px;
  cursor: pointer;
  width: 116%;
  height: 62px;
}
.btn-group button:not(:last-child) {
  border-bottom: none;
}
.btn-group button:hover {
  color: #ffffff;
  background-color: #1463b8;
}
.btn-group {
  margin-top: 5%;
  margin-bottom: auto;
  margin-left: 7%;
  margin-right: auto;
}